/*
NAME: SLIDE-IMG-RESPONSIVE;
AUTHOR: OBED HERNÁNDEZ;
*/

.img-1 {
    background: url('../image/slider/slider1.jpg') no-repeat;
}

.img-2 {
    background: url('../image/slider/slider2.JPG') no-repeat;
}

.img-3 {
    background: url('../image/slider/slider3.JPG') no-repeat;
}

.img-4 {
    width: 100%;
}

.img-4 img {
    width: 100%;
    height: 100vh;
}


/* ===========PROMOCIONES=============== */

.promocion {
    height: 100vh;
    background: #212121;
    background-size: cover;
}

.promocion2 {
    height: 100vh;
    background: url('../image/slider/playera1.jpg') no-repeat;
    background-size: cover;
}

.promocion3 {
    height: 100vh;
    background: url('../image/slider/leo1.jpg');
    background-size: cover;
    /* background-color: #DEB887;
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(211, 161, 95, .4) 63px, rgba(211, 161, 95, .4) 66px, transparent 66px, transparent 116px, rgba(211, 161, 95, .5) 116px, rgba(211, 161, 95, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(211, 161, 95, .5) 169px, rgba(211, 161, 95, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(211, 161, 95, .5) 182px, rgba(211, 161, 95, .5) 232px, transparent 232px), repeating-linear-gradient(180deg, transparent, transparent 50px, rgba(211, 161, 95, .4) 50px, rgba(211, 161, 95, .4) 53px, transparent 53px, transparent 63px, rgba(211, 161, 95, .4) 63px, rgba(211, 161, 95, .4) 66px, transparent 66px, transparent 116px, rgba(211, 161, 95, .5) 116px, rgba(211, 161, 95, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(211, 161, 95, .5) 169px, rgba(211, 161, 95, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(211, 161, 95, .5) 182px, rgba(211, 161, 95, .5) 232px, transparent 232px), repeating-linear-gradient(-35deg, transparent, transparent 2px, rgba(211, 161, 95, .2) 2px, rgba(211, 161, 95, .2) 3px, transparent 3px, transparent 5px, rgba(211, 161, 95, .2) 5px); */
}

.promocion4 {
    height: 100vh;
    background: url('../image/slider/mancha.png') no-repeat;
    background-size: cover;
}

.content-image {
    height: 100vh;
}

.image-promo {
    width: 100%;
    animation: 3s fade 1;
}

.img-1,
.img-2,
.img-3 {
    width: 100%;
    height: 100vh;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    background-position: center;
    background-attachment: fixed;
    -moz-background-attachment: fixed;
    background-size: cover;
}

.opacidad {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(12, 83, 59, .1) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOUbRGQBAACQwDMNp7y0QAAAABJRU5ErkJggg==') repeat;
}

.carousel-caption {
    position: absolute;
    top: 14%;
}

.carousel-caption.one .h2 {
    animation: 1.8s fadeInDown 1;
}

.carousel-caption.second p {
    animation: 2s fadeInRight 1;
}

.carousel-caption.third p {
    animation: 2s bounceRigth 1;
}

.carousel-caption.one h4,
.carousel-caption.third h4,
.hashtag {
    animation: 3s fadeInUp 1;
}

.slide {
    padding: 0;
}

.hashtag {
    color: rgb(10, 107, 60);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes girar {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounceLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-1000px);
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }
    50% {
        opacity: 1;
        -moz-transform: translateX(30px);
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    75% {
        -moz-transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounceRigth {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
        -webkit-transform: translateX(3000px);
        transform: translateX(3000px);
    }
    50% {
        opacity: 1;
        -moz-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    75% {
        -moz-transform: translateX(10px);
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/*-----------------MEDIA SCREN PARA RESPONSIVE DESING-----------------------*/

@media screen and (min-width: 575px) {}

@media screen and (min-width: 767px) {
    .carousel-caption .h2 {
        font-size: 2.7em;
    }
    .carousel-caption .h3 {
        font-size: 2em;
    }
}

@media screen and (min-width: 991px) {}

@media screen and (min-width: 1199px) {}

@media screen and (min-width: 1500px) {}